{% block content %}
<style>
    .act-a{
        color: #078372;
    }
    .act-d{
        color: red;
    }
</style>
<h3>Recent Activity</h3>
<hr>
{% for message in room_messages %}
<div>
    <small><a class="act-a" href="{%url 'user-profile' message.user.id %}">@{{message.user}}</a> 
        {{message.created|timesince}}</a></small>
    <small>replied to "{{message.room}}"</small>
    <p>{{message}}</p>
    {% if request.user == message.user %}
    <a class="act-d" href="{% url 'delete-message' message.id %}">delete</a>
    {% endif %}
    <hr>
</div>
{% endfor %}

{% endblock content %}